<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
        <div style="display: block">  
        <canvas baseChart *ngIf="ok"
                    [data]="data"
                    [labels]="labels"
                    [chartType]="chartType"
                    (chartClick)="chartClicked($event)"></canvas>
       </div> 
     </div> 
    <div class="col-sm-6">
      <app-week-stats *ngIf="weeksVirtue" [virtue]="weeksVirtue" [color]="weeksColor"></app-week-stats>
    </div>
  </div>
</div>